/*!
 * Copyright (c) 2021 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@body-bg: #fff;
@brand-primary: #AB0761; 
@brand-secondary: #531B4C;

@header-background:url(images/header-bg.jpg);
@header-row-padding-bottom:0;

@mobile-menu-nav-background:@brand-primary;
@mobile-menu-color:#1b1b1b;
@mobile-main-menu-link-border-bottom:1px solid darken(@brand-primary, 10%);
@mobile-menu-open-active-background:darken(@brand-primary, 10%);
@mobile-menu-open-active-color:@mobile-menu-color;
@mobile-menu-dropdown-menu-background:@mobile-menu-open-active-background;

@jumbotron-h1-weight:700;
@jumbotron-text-align:left;
@jumbotron-h1-size: 58px;

@btn-default-color:@white;
@btn-primary-color:@white; 
@btn-primary-bg:@brand-primary; 
@btn-primary-border:@brand-primary;
@btn-font-size: 1.4rem;
@btn-lg-font-size: 1.8rem;
@btn-font-weight:700;

@footer-h2-color:@white;
@footer-link-color:@white;

@featured-story-bg-img: none;