<div class="container website-coming-soon">
  <div class="website-coming-soon__container col-md-12 col-md-offset-6">
    <div class="website-coming-soon__content">
      <h1 class="text-center">
        Software Defined Vehicle
      </h1>
      <h2 class="text-center white margin-bottom-30">
        A Planned Eclipse Foundation Working Group
      </h2>
      <p>
        We offer an <strong>open technology platform</strong> for the
        software defined vehicle of the future; focused on accelerating
        innovation of <strong>automotive-grade</strong> in-car software stacks
        using <strong>open standards</strong> to help support a vivid
        <strong>community</strong>.
      </p>

      <p>
        <strong>Open technology platform:</strong> The open technology platform
        will include
        <strong>open-sourced, modular software components</strong> and
        <strong>frameworks</strong> that are fully integrated into a
        <strong>modern developer experience</strong> with a high degree of
        <strong>automation and virtualization</strong>.
      </p>

      <p>
        <strong>Automotive-grade:</strong> Our approach will consider
        <strong>high performance computers</strong> as well as
        <strong>legacy ECUs</strong> and will stretch from
        <strong>quality managed to safety-relevant functions</strong> across
        <strong>all vehicle domains under adherence of the highest safety and
          security standards</strong
        >.
      </p>

      <p>
        <strong>Open standards:</strong> Our solutions don't aim to
        <i>"re-invent the wheel"</i>, we use open standards wherever possible.
        We participate in shaping the future of industry standards through the
        power of <strong>open collaboration</strong>.
      </p>

      <p>
        <strong>Community:</strong> We are building value together and welcome
        <strong>everyone to participate</strong>. We aim to join forces on the
        non-differentiating parts, thus
        <strong>decreasing time-to-market</strong>, and sharing best practices
        and overcome the <strong>war for talent</strong>.
      </p>
      <hr>
      <p>
        Now is the time to join as a founding member of the Software Defined Vehicle Working Group. Check out the docs below
        for more information:
        <ul>
          <li><a class="hyper-link" href="https://www.eclipse.org/org/workinggroups/sdv-charter.php">Working Group Charter</a></li>
          <li><a class="hyper-link" href="https://www.eclipse.org/org/workinggroups/wgpa/sdv-working-group-participation-agreement.pdf">Participation Agreement</a></li>
        </ul>         
       And <a class="hyper-link" href="https://accounts.eclipse.org/contact/membership">contact us about membership</a>.
      </p>
    </div>
    <p class="margin-bottom-10 text-center">
      <a
        class="btn btn-primary"
        href="https://accounts.eclipse.org/mailing-list/sdv-wg"
        >Join the Mailing List</a
      >
    </p>
    <p>If you have a specific question about this initiative,
      <a 
        class="hyper-link" 
        href="mailto:michael.plagge@eclipse-foundation.org"
        >connect directly with the Eclipse Foundation</a
        >.
    </p>
  </div>
</div>
