<div id="members" class="featured-section featured-members">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <h2>Members</h2>
                <p class="big">Join leading organizations that are joining forces on the non-differentiating parts, thus decreasing time-to-market, sharing best practices, and overcoming the war for talent.</p>
                <ul class="eclipsefdn-members-list list-inline margin-30 flex-center gap-40" data-ml-wg="sdv" data-ml-template="only-logos"></ul>
                <p class="margin-bottom-20 margin-top-20"><a class="btn btn-primary" href="/membership">Contact Us About Membership</a></p>
                <p>If you&rsquo;re ready to join the working group, please review the <a href="https://www.eclipse.org/org/workinggroups/sdv-charter.php">Charter</a>, sign the <a href="https://www.eclipse.org/org/workinggroups/wgpa/sdv-working-group-participation-agreement.pdf">Working Group Participation Agreement</a>, and send it to <a href="mailto:membership.coordination@eclipse-foundation.org">membership.coordination@eclipse-foundation.org</a>.</p>
            </div>
        </div>
        
    </div>
</div>