<div class="previous-event-videos">
    <h3>Videos from previous community days</h3>
    <div class="row margin-top-20 text-center">
        <div class="col-md-8 col-md-offset-4">
            <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaQ1oxJsywJbBgyGCuhPz22J"></a>
            <p class="margin-top-20">SDV Contribution Day June 2022</p>
        </div>
        <div class="col-md-8">
            <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaTCU0kXY35NHkeE3WGuugEo"></a>
            <p class="margin-top-20">SDV Contribution Day Sept 2022</p>
        </div>
    </div>
</div>
